* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  padding:0;

}

body  {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(circle at 50% -20.71%,
                                            #e6f58f 0,
                                            #e9eb7f 10%,
                                            #ecdf6e 20%,
                                            #efd25d 30%,
                                            #f1c44d 40%,
                                          #f2b53c 50%,
                                            #f3a52d 60%,
                                            #f59522 70%,
                                            #f8851d 80%,
                                            #fa741e 90%, 
                                            #fc6324 100%
                                          );
}